<div id="login" class="row" style="margin-top: 10%; ">
		<div>
			<div
				style="margin-left: 300px; margin-right: 300px; text-align: center; border: solid #0096ff; background-color: white; border-radius: 10px;">
				<form name="userForm" class="form-signin"
					>
					<div class="form-group"
						ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }"style="margin-top: 20px;margin: 20px;width:93%;">
						<p style="color:red" ng-show="isError">Not a User!Try again</p>
						<label for="inputEmail" class="sr-only">Email address</label> <input
							type="email" class="form-control input-lg"
							placeholder="Email address" name="email" ng-model="email">
					</div>

					<div class="form-group" style="margin-top: 45px;">
						<button class="btn btn-lg btn-primary btn-block" type="submit"
							ng-click="loginUser()" style="border-color: #fff;background-color: #333;width: 40%;margin-left: 160px;">Start
							Chat</button>
					</div>

				</form>
			</div>
		</div>
	</div>
